<!DOCTYPE html>
<html>
<title>RaspHome</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'RaspHome/css/RaspHome.css' %}">
<link rel="stylesheet" href="{% static 'RaspHome/css/RaspHomeDesign.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel = "stylesheet" href = "{% static 'RaspHome/css/index.css'%}">

<body class="w3-content w3-black" style="max-width:1500px;">

{% block content %}

{% endblock%}

<script src = "{% static 'RaspHome/js/index.js'%}"></script>

</body>
</html>
